@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: #000;
}

.Primary{
    background: rgb(199,23,151);
    background: linear-gradient(90deg, rgba(199,23,151,1) 11%, rgba(255,252,0,1) 100%);
    display: inline;
    background-clip: text;
    
}